<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home - michael-chang.ca</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- fontawesome-free -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/fontawesome.min.css" integrity="sha512-B46MVOJpI6RBsdcU307elYeStF2JKT87SsHZfRSkjVi4/iZ3912zXi45X5/CBr/GbCyLx6M1GQtTKYRd52Jxgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/brands.min.css" integrity="sha512-EJp8vMVhYl7tBFE2rgNGb//drnr1+6XKMvTyamMS34YwOEFohhWkGq13tPWnK0FbjSS6D8YoA3n3bZmb3KiUYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- local stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id="main" class="container-narrow">
      <div id="icons" style="float: right; font-size: larger;">
        <a href="https://linkedin.com/in/m9chang/"><i class="fa-brands fa-linkedin"></i></a> |
        <a href="https://github.com/cbhl"><i class="fa-brands fa-github"></i></a>
      </div>
      <h1>Michael Chang</h1>

      <div>
        <div style="float: left; padding: 0 1em 0 0;">
          <img id="avatar" width="130px" height="130px" src="/images/avatar.jpg" alt="" />
        </div>
        <div style="padding: 0.75em 0;">
          <p>Hi, I'm Michael. I've been coding since I was eight, but in terms of full-time experience I've been doing this for ten years.</p>
          <p>Usually, I'm in or around one of San Francisco, New York City, or Toronto.</p>
          <p>If you're here, you might be looking for my resume or my <a href="https://linkedin.com/in/m9chang/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a> profile.</p>
          <p>If you can't reach me via LinkedIn, snail mail can be sent to:</p>
          <pre>Michael Chang
548 Market St PMB 78281
San Francisco CA  94104-5401
United States</pre>
          <p>You can also email me at <a href="mailto:michael.chang@hey.com">michael.chang@hey.com</a> through May 31, 2026.</p>
          <p></p>
        </div>
      </div>
    </div>

    <div id="footer" class="container-narrow">
      <hr>
      <div id="blog-title"><a href="/">michael-chang.ca</a></div>
      <div id="blog-nav">
        Resume |
        Blog |
        <a href="https://linkedin.com/in/m9chang/">LinkedIn</a>
      </div>
    </div>

    <!-- Bootstrap -->
    <script src="//cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- Default Statcounter code for michael-chang.ca https://michael-chang.ca/ -->
    <script type="text/javascript">
      var sc_project=13022974;
      var sc_invisible=1;
      var sc_security="8b016abf";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/13022974/0/8b016abf/1/" alt="Web Analytics" referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
  </body>
</html>
